@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div>
        <img src="https://previews.123rf.com/images/photoexpert/photoexpert1207/photoexpert120700001/14506627-tool-collage-isolated-on-a-white-background-depicting-carpentry-and-construction-tools-.jpg" alt="Girl in a jacket" width="500" height="400">
    </div>
</div>

